@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    background: #ddd;
}
ul li{
    list-style: none;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
}
p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    /* text-decoration: none; */
}
h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
    /* font-size: 3.5rem; */
}

/* ########################## UTILITY CLASSES ##################### */
.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}
.lg-heading{
    font-size: 3.5rem;
}

.mg-heading{
    font-size: 2.2rem;
}

.text-red{
    color: #e63946;
}

.text-light{
    color: #f4f4f4;
}

.text-black{
    color: #333;
}

.text-gray{
    color: #555;
}
.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}
.btn-primary{
    background: #ddd;
    border-radius: 10rem;


}
.bg-dark{
    background-color: #263238;
}
.bg-color{
    background-color: #e63946;
}


/* ######### about page navbar styling #################### */

.navbar{
    padding: 1rem;
    background: #263238;
}
.navbar .logo{
    float: left;
}
.navbar .nav-items{
    float: right;
    margin-top: 1rem;
}
.navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;

}
.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
}
.navbar a:hover{
    border-bottom: 1px solid #ffffff;
    padding-bottom: 0.2em;
}
.navbar::after{
    content: '';
    display: block;
    clear: both;
}


/* ########## SKILL SECTION STYLING ######### */

.skill-section{
    display: flex;
}
.about-para{
    /* flex: 1 1 400px; */
    padding: 5px;
    /* border: 2px solid red; */
    transform: translateX(150%);
    animation: about-img 1s ease-in-out forwards;
}
@keyframes about-img{
    100%{
        transform: translate(0)
    }
}

.skill img{
    /* flex: 1 1 400px; */
    /* padding: 30px; */
    margin: auto;
    width: 200px;
    height: 200px;
    
    transform: translateX(-150%);
    animation: about-para-animation 1s ease-in-out forwards;
}
@keyframes about-para-animation{
    100%{
        transform: translate(0);
    }
}


.items{
    display: flex;
}
.skill-items a:hover{
    color: greenyellow;
}

.items .skill-topic{
    padding-left: 3rem;
    background: #e63946;
    border-radius: 5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.skill-image{
    display: flex;
}
.skill-image img{
    /* margin: 2rem; */
    width: 150px;
    height: 150px;
    margin-left: 4rem;
}

.ft-section{
    background-color: #333;
    margin-top: 10rem;
    /* display: inline-block; */
    /* padding: 2rem; */
    

}
.ft-section, i{
    text-align: center;
    padding: 0.5em;
    
}
.ft-section, p{
    text-align: center;
    
}
/* #################### MEDIA QUERIES ######################## */

@media (max-width: 500px){
    html{
        font-size: 50%;
    }
    .navbar .nav-items, .navbar .logo{
        
        flex: none;
        display: block;
        text-align: center;
        width: 100%;
    }

}


@media (max-width: 500px){
    html{
        font-size: 50%;
    }
    .navbar .nav-items, .navbar .logo{
        
        float: none;
        display: block;
        text-align: center;
        width: 100%;
    }
    .skill-section{
        flex-direction: column;
        margin: 0 auto;
    }
    .items{
        flex-direction: column;
        
    }
    .skill-image img{
        padding: 1rem;

    }
}